@import url("https://fonts.googleapis.com/css2?family=Acme&family=Dosis&display=swap");

.Logo {
  font-family: "Acme", sans-serif;
}

.home-page-main,
.not-found--main {
  width: 100%;
  height: 100vh;
  background-image: url("./img/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome--container,
.not-found--container {
  background-color: #ffffff10;
  backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(50%);
}
.welcome--container,
.not-found--container {
  width: 60%;
  height: 40%;
  text-align: center;
}

.welcome--container h1 {
  font-family: "Acme", sans-serif;
}

.welcome--container .sublogo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.main-button {
  padding: 0.9em 2em;
  border: 2px solid #fff;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  color: #ddd;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #fff;
}

.main-button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.main-button:hover::before {
  width: 105%;
}

.main-button:hover {
  color: #111;
}

/* 404 Animation */

.rotate-scale-up {
  font-weight: bold;
  -webkit-animation: rotate-scale-up 0.65s linear both;
  animation: rotate-scale-up 0.65s linear both;
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

.bg-personalize-1 {
  background-color: #eef2f1;
}

.bg-personalize-2 {
  background-color: #737c85;
}

.bg-personalize-3 {
  background-color: #7b8c8c;
}

.bg-personalize-4 {
  background-color: #1f2529;
}

.card--shadow {
  box-shadow: 7.6px 6.1px 16.5px -24px rgba(0, 0, 0, 0.315),
    61px 49px 132px -24px rgba(0, 0, 0, 0.63);
}
